.x-institutional-disclaimer-0{max-width:760px;margin:0 auto;padding:3rem 1.25rem 5rem;line-height:1.7}
.x-institutional-disclaimer-1{text-align:center;padding:.75rem 1rem;font-size:.7rem;border-top:1px solid rgba(0,0,0,.1);margin-top:2rem}
.x-institutional-disclaimer-2{color:#1B7A68;text-decoration:none}
.x-institutional-disclaimer-3{color:#1B7A68;text-decoration:none}